.sortable {
    cursor: pointer;
    color: #dd5;
}



table {
  color: rgb(41, 165, 68);
  border-radius: 5px;
  border-style: outset;
  border-color: goldenrod;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #421e1e;
}
.even-row {
    background-color: rgb(41, 165, 68);
    color: #421e1e;
}

.warning {
    background-color: #e62f2f;
    color: rgb(75, 0, 105);
}

.header-row {
    background: #34495E;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}